[package]
name = "dot4gravity"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rand  = "0.8.5"

codec = { default-features = false, features = [ "derive", "max-encoded-len" ], package = "parity-scale-codec", version = "3.0.0" }
scale-info = { default-features = false, features = [ "derive" ], version = "2.1" }

[features]
default = [ "std" ]
std = [
    "codec/std",
    "scale-info/std",
]
